php_flag short_open_tag on
AddType application/x-httpd-php .html .htm

ErrorDocument 403 /stack6/public/__errors/handler.php
ErrorDocument 404 /stack6/public/__errors/handler.php
ErrorDocument 500 /stack6/public/__errors/handler.php